*, html, a {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'alexbrush';
    src: url('./alexbrush-regular-webfont.woff2') format('woff2'),
         url('./alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkinsans-regular';
    src: url('./sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('./sinkinsans-400regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkinsans-bold';
    src: url('./sinkinsans-900xblack-webfont.woff2') format('woff2'),
         url('./sinkinsans-900xblack-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'sinkinsans-regular', 'sans-serif';
}

/* Header styling */

header {
    background-color: #7FB77E;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header h1 {
    color: #FFFFFF;
    font-family: 'alexbrush', 'cursive';
    font-size: 3rem;
}

header ul {
    list-style: none;
    margin: 10 0;
}

header ul li {
    display: inline;
}

header ul li a {
    color: #FFFFFF;
    letter-spacing: 2px;
    margin: 3% 0;
}


/* General main styling */

main {
    background-color: red;
    margin: 0 20%;
    height: 70vh;
}