*, html, a {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

@font-face {
    font-family: 'alexbrush';
    src: url('./alexbrush-regular-webfont.woff2') format('woff2'),
         url('./alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkinsans-regular';
    src: url('./sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('./sinkinsans-400regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkinsans-bold';
    src: url('./sinkinsans-900xblack-webfont.woff2') format('woff2'),
         url('./sinkinsans-900xblack-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'sinkinsans-regular', 'sans-serif';
    letter-spacing: 2px;
}

/* Header styling */

header {
    background-color: #7FB77E;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 10px 0 15px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

header h1 {
    color: #FFFFFF;
    font-family: 'alexbrush', 'cursive';
    font-size: 3rem;
}

header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    width: calc(50vw + 200px)
}

header ul li {
    display: inline;
    margin: 0 5%;
}

header ul li a {
    color: #FFFFFF;
    letter-spacing: 2px;
    padding-bottom: 4px;

    transition: all ease-in .1s;
}

header ul .active {
    border-bottom: 2px solid #FFFFFF;
}

/* General main styling */

main {
    display: flex;
    gap: 20px;
    margin: 0 15%;
    min-height: calc(100vh - 156px);
}

main .information {
    margin: auto 0;
    width: 50%;
}

main .information p:not(:first-of-type) {
    margin-top: 20px;
}

main .main-image {
    background-image: url('./main-food-photo.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: relative;
    margin: auto 0;
    height: 400px;
    width: 50%;
}

main .main-image::before {
    content: "";
    position: absolute;

    border: 5px solid #7FB77E;
    top: -50px;
    left: -50px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Footer */

footer {
    background-color: #7FB77E;
    position: sticky;
    bottom: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    background-image: url('./GitHub-Mark-Light-64px.png');
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    margin: auto;
}